.q1-7 {
  position: absolute;
  padding: 5px;
  top: 14%;
  left: 52.5%;
}
.q2-7 {
  position: absolute;
  padding: 5px;
  top: 66.5%;
  left: 89.5%;
}
.q3-7 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 57%;
}
.q4-7 {
  position: absolute;
  padding: 5px;
  top: 58.5%;
  left: 46.5%;
}
.q5-7 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 64.5%;
}
.q6-7 {
  position: absolute;
  padding: 5px;
  top: 34%;
  left: 31.5%;
}
.q7-7 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 40.5%;
}
.q8-7 {
  position: absolute;
  padding: 5px;
  top: 35.5%;
  left: 40.5%;
}
.q9-7 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 56.5%;
}
.q10-7 {
  position: absolute;
  padding: 5px;
  top: 41.5%;
  left: 39.5%;
}
.q11-7 {
  position: absolute;
  padding: 5px;
  top: 11.5%;
  left: 47.5%;
}
.q12-7 {
  position: absolute;
  padding: 5px;
  top: 25.5%;
  left: 34.5%;
}

.q13-7 {
  position: absolute;
  padding: 5px;
  top: 59%;
  left: 47.5%;
}

.q14-7 {
  position: absolute;
  padding: 5px;
  top: 80%;
  left: 73.5%;
}
