.q1-4 {
  position: absolute !important;
  padding: 5px !important;
    top: 14.5% !important;
    left: 39% !important;
}

.q2-4 {
  position: absolute !important;
  padding: 5px !important;
 top: 57.5% !important;
    left: 41% !important;
}

.q3-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 3.5% !important;
  left: 31% !important;
}

.q4-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 43.5% !important;
  left: 33% !important;
}

.q5-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 3.5% !important;
  left: 38.5% !important;
}

.q6-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 55% !important;
  left: 36% !important;
}

.q7-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 3.5% !important;
  left: 62.5% !important;
}

.q8-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 3.5% !important;
  left: 41.5% !important;
}

.q9-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 74.5% !important;
  left: 48.5% !important;
}

.q10-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 9.4% !important;
  left: 33.5% !important;
}

.q11-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 32% !important;
  left: 82.5% !important;
}

.q12-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 54% !important;
  left: 89.5% !important;
}

.q13-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 71% !important;
  left:33.5% !important;
}

.q14-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 80% !important;
  left: 73.5% !important;
}