.q1-5 {
  position: absolute;
  padding: 5px;
  top: 15%;
  left: 39.5%;
}
.q2-5 {
  position: absolute;
  padding: 5px;
  top: 67%;
  left: 53.5%;
}
.q3-5 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 38.5%;
}
.q4-5 {
  position: absolute;
  padding: 5px;
  top: 56%;
  left: 39.5%;
}
.q5-5 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 42.5%;
}
.q6-5 {
  position: absolute;
  padding: 5px;
  top: 50%;
  left: 39.5%;
}
.q7-5 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 31.5%;
}
.q8-5 {
  position: absolute;
  padding: 5px;
  top: 35%;
  left: 54.5%;
}
.q9-5 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 44.5%;
}
.q10-5 {
  position: absolute;
  padding: 5px;
  top: 41%;
  left: 30.5%;
}
.q11-5 {
  position: absolute;
  padding: 5px;
  top: 9.5%;
  left: 61.5%;
}
.q12-5 {
  position: absolute;
  padding: 5px;
  top: 78.5%;
  left: 81.5%;
}
.q13-5 {
  position: absolute;
  padding: 5px;
  top: 29%;
  left: 40.5%;
}

.q14-5 {
  position: absolute;
  padding: 5px;
  top: 80%;
  left: 73.5%;
}
