.q1-3 {
    position: absolute !important;
    padding: 5px !important;
    top: 14% !important;
    left: 41% !important;
}

.q2-3 {
      position: absolute !important;
    padding: 5px !important;
    top: 45% !important;
    left: 67% !important;
}

.q3-3 {
    position: absolute !important;
    padding: 5px !important;
    top: 3.2% !important;
    left: 55.8% !important;

}

.q4-3 {
    position: absolute !important;
    padding: 5px !important;
    top: 49% !important;
    left: 39.5% !important;
}

.q5-3 {
      position: absolute !important;
    padding: 5px !important;
    top: 3.5% !important;
    left: 64.5% !important;
}

.q6-3 {
    position: absolute !important;
    padding: 5px !important;
    top: 46% !important;
    left: 43.5% !important;
}

.q7-3 {
    position: absolute !important;
    padding: 5px !important;
    top: 3.5% !important;
    left: 54.5% !important;
}

.q8-3 {
    position: absolute !important;
    padding: 5px !important;
    top: 54% !important;
    left: 38.5% !important;
}

.q9-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 3.5% !important;
  left: 39.5% !important;
}

.q10-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 46% !important;
  left: 39% !important;
}

.q11-3 {
  position: absolute !important;
  padding: 5px !important;
      top: 9.5% !important;
    left: 71.5% !important;
}

.q12-3 {
  position: absolute !important;
  padding: 5px !important;
      top: 44.5% !important;
    left: 74.5% !important;
}

.q13-3 {
  position: absolute !important;
  padding: 5px !important;
    top: 69.5% !important;
  left: 39.5% !important;
}

.q14-3 {
  position: absolute !important;
  padding: 5px !important;
     top: 82% !important;
    left: 72.5% !important;

}